body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-thumb {
  background-color: #df504b;
  border-radius: 20px;
}

body {
  background: linear-gradient(130deg, #327179, #082154);
  background-repeat: no-repeat;
  background-size: cover;
}
.margin-left {
  margin-left: 10px;
}

.card {
  background-color: #9eebcf;
}

.radius-30 {
  border-radius: 30px !important;
}
