@font-face {
  font-family: "sega";
  src: url(SEGA.TTF);
}

body::-webkit-scrollbar {
  width: 0.7em;
}
body::-webkit-scrollbar-thumb {
  background-color: #082154;
  border-radius: 20px;
}

h1 {
  font-family: "sega";
  color: #40e4fa;
}

.cursor-pointer {
  cursor: pointer;
  transition: 0.6s;
}

.cursor-pointer:hover {
  transform: scale(0.96);
}
body {
  background: linear-gradient(130deg, #327179, #082154);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.font-s {
  font-size: 20px;
}
.margin-left {
  margin-left: 10px;
}

.card {
  background-color: #40e4fa;
}

.radius-30 {
  border-radius: 30px !important;
}
